# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Logs and database
*.log
*.db

# Pytest and coverage
.pytest_cache/
.coverage
htmlcov/

# VSCode or other IDEs
.vscode/
.idea/
